body, *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*{
    padding: .2em 1em;
}
body{
    background-color: rgb(211, 211, 211);
}

// ====================
.page{
    margin: 0 auto;
    height: 100vh;
    max-width: 1140px;
    width: 100%;
    background-color: #fff;
}
.flx-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-wrap{
    flex-direction: column;
}